body {
  background-color: rgb(67, 67, 80);
  color: white;
  font-family: "Roboto", sans-serif;
}
.table {
  border-color: black;
  border: 5px solid;
  width: 100%;
}
.menu {
  font-size: 20px;
}

hr {
  border-color: blue;
}
tr {
  border-color: blue;
}
a:active {
  color: aqua;
}
a:hover {
  color: yellow;
}
a:visited {
  color: white;
}
